<ion-header>
  <ion-toolbar>
    <ion-title>Perruna</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card class="card" (click)="goProducto()">
    <mat-card-title-group>
      <img mat-card-sm-image src="assets/icon/capillo.png">
      <mat-card-title>Seccion Perruna </mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content class="contenido" >
      
    </mat-card-content>
  </mat-card>
  <mat-card class="card" (click)="goProducto()">
    <mat-card-title-group>
      <img mat-card-sm-image src="assets/icon/accesorio1_oferta.jpg">
      <mat-card-title>Seccion Perruna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content class="contenido" >
      
    </mat-card-content>
  </mat-card>
  <mat-card class="card" (click)="goProducto()">
    <mat-card-title-group>
      <img mat-card-sm-image src="assets/icon/Producto_2_sec_perro.jpg">
      <mat-card-title>Seccion Perruna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content class="contenido" >
      
    </mat-card-content>
  </mat-card>
  <mat-card class="card" (click)="goProducto()">
    <mat-card-title-group>
      <img mat-card-sm-image src="assets/icon/producto3_perro.jpg">
      <mat-card-title>Seccion Perruna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content class="contenido" >
      
    </mat-card-content>
  </mat-card>
</ion-content>
