<ion-header>
  <ion-toolbar>
    <ion-title>{{user}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid size="6">
    <img class="img" src="assets/icon/ga.jpg">
  </ion-grid>

  <mat-card class="card">
    <mat-card-title>{{user}}</mat-card-title>
    <mat-card-subtitle>{{email}}</mat-card-subtitle>
    <mat-card-content>
      
    </mat-card-content>
    
  </mat-card>

  <grid>
    <button mat-stroked-button color="primary" [routerLink]="['/modificar-usuario']" class="boton">Modificar usuario</button>
    <button mat-stroked-button color="primary" [routerLink]="['/mod-contrasena']" class="boton2">Modificar Contraseña</button>
  </grid>
</ion-content>
