h1{
    text-align: center;
    font-size: 2.4em;   
    padding: 0%; 
    color: #000000;
    
}

.box{
    margin: 10px 15px 10px 15px;
    background: linear-gradient(to bottom, #E6AC39, #F28613);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(58, 61, 38);
    
}

.box_title{
    margin-top: 80px;
}

button{
    margin-left:70px;
    margin-top:15px;
    background-color: #F2CB30 !important;
    width: 100px;
    height: 30px;
}

ion-icon{
    width: 70px;
}

ion-input{
    
    color: black;
    padding-left: 0%;
    padding-top: 0%;
}

