h1{
    text-align: center;
    font-size: 2.4em;   
    padding: 0%; 
}

a{
    
    margin: 32px;
}

ion-button{
    margin-left:90px;
    
    width: 120px;
}
.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

