<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="box_title">

    <ion-row>
      <ion-col size="12">
        <h1>Recuperacion de</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h1>contraseña</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="box">
    <ion-row>
      <ion-col size="12">

        
        <form action="">
        <ion-label>Ingrese su nueva contraseña:</ion-label>
        <ion-input type="text" aria-required="true" placeholder="Ingrese su nueva contraseña aqui"></ion-input>
        
        <ion-label>Confirmacion de contraseña:</ion-label>
        <ion-input type="text" aria-required="true" placeholder="Ingrese la confirmacion contraseña aqui"></ion-input>

        <ion-button color="tertiary" [routerLink]="['/login']"><ion-icon name="caret-forward-outline"></ion-icon></ion-button>
        </form>
        
      </ion-col>

      
    </ion-row>
  </ion-grid>
</ion-content>
