h1{
    text-align: center;
    font-size: 2.4em;   
    padding: 0%; 
}
ion-img{
    width: 50%;
    margin-left: 70px;
}
ion-button{
    margin-left:90px;
    
    width: 120px;
}

a{
   margin-left: 60px; 
   padding: 0px;
}
ion-col{
    padding: 0px;
    margin: 2px;

}

