h1{
    text-align: center;
    font-size: 2.4em;   
    padding: 0%; 
    
}

h3{
    margin: 0px;
    text-align: center;
    width: auto;
}

.box{
    border: solid 2px purple;
    background-color: purple;
    
}

.box_title{
    margin-top: 100px;
}

ion-button{
    margin-left:100px;
    margin-top:15px;
    width: 100px;
}

ion-icon{
    width: 70px;
}

ion-input{
    background-color: white;
    color: black;
    
}