<ion-header>
  <ion-toolbar>
    <ion-title>Modificar </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/CUIDAO.png">
<div class="grid">
  <ion-label>
    Introdusca su nuevo nombre de usuario:
  </ion-label>
  <ion-input placeholder="Nuevo usuario" style="color: rgb(56, 55, 55);"></ion-input>
  <button mat-stroked-button color="primary" [routerLink]="['/perfil']" class="boton">Modificar usuario</button>
</div>
</ion-content>
