<ion-header>
  <ion-toolbar>
    <ion-title>Modificar </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/bannersxd.png">
<form *ngIf="formulario_us" action="" [formGroup]="formulario_us" (ngSubmit)="modificar()">
  <div>
    <label for="usuario">Ingrese nombre de usuario:</label>
    <input type="text" name="usuario" id="usuario" formControlName="mod_us"
      [ngClass]="{'is-invalid':formulario_us.get('mod_us').errors}" placeholder="Nuevo usuario">
    <small *ngIf="formulario_us.get('mod_us').hasError('required')">Este campo no puede estar vacio</small>

    <button type="submit">Modificar Usuario</button>
    
  </div>
</form>
</ion-content>
