<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perrigato {{user}}
    </ion-title>
  </ion-toolbar>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid   >
  <ion-button class="iconos" color="tertiary" [routerLink]="['/login']"><ion-icon name="close" ></ion-icon></ion-button>
  <ion-button color="tertiary" [routerLink]="['/perfil']"><ion-icon name="person-circle"></ion-icon></ion-button>
  <ion-button color="tertiary"><ion-icon name="moon"></ion-icon></ion-button>
</ion-grid>
    <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/icon/ga.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/ga.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/ga.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>

  <mat-card class="card" (click)="goSeccionP()">
    <mat-card-title-group>
      <mat-card-title>Seccion Perruna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/hu.jpg">
    </mat-card-title-group>
    <mat-card-content class="contenido" >
      
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Seccion Gatuna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/hu.jpg">
    </mat-card-title-group>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title>Seccion Otros</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/ga.jpg">
    </mat-card-title-group>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
  <ion-grid>
  
</ion-grid>
</ion-content>