<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido {{data}}
    </ion-title>
  </ion-toolbar>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid   >
  <ion-button class="iconos" color="danger" [routerLink]="['/login']" style="float: right;"><ion-icon name="close" ></ion-icon></ion-button>
  <ion-button color="warning" (click)="goPerfil()" style="float: right;"><ion-icon name="person-circle"></ion-icon></ion-button>
  
</ion-grid>
    <ion-slides [options]="option" style="margin-top: 50px;">
    <ion-slide>
      <ion-card>
        <img src="assets/icon/xd.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/perritobanner.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/icon/banner2_editado.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>
 
  <ion-button expand="full" (click)="listarP()">Listar Productos</ion-button>
  <ion-button expand="full" (click)="listarU()">Listar Usuarios</ion-button>
  
  <mat-card class="card" (click)="goSeccionP()">
    <mat-card-title-group>
      <mat-card-title>Seccion Perruna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/shiba.jpg">
    </mat-card-title-group>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click)="goSeccionG()">
    <mat-card-title-group>
      <mat-card-title>Seccion Gatuna</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/gatillito.jpg">
    </mat-card-title-group>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click)="goSeccionO()">
    <mat-card-title-group>
      <mat-card-title>Seccion Otros</mat-card-title>
      <mat-card-subtitle>Productos</mat-card-subtitle>
      <img mat-card-sm-image src="assets/icon/huron.jpg">
    </mat-card-title-group>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card>
  <ion-grid>
  
</ion-grid>
</ion-content>