<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-input [(ngModel)]="a"></ion-input>
  </div>

  <form action="">
    <ion-lab>si</ion-lab>
    <ion-input type="text" required></ion-input>
    <ion-button color="warning"  type="submit">Crear cuenta</ion-button>
  </form>
  
</ion-content>
