<ion-header>
  <ion-toolbar>
    <ion-title>Modificar </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <img src="assets/icon/bannersxd.png">
    <form *ngIf="formulario_con" action="" [formGroup]="formulario_con" (ngSubmit)="modificarUs()">
      <div>
        <label for="contraseña">Ingrese Nueva contraseña:</label>
        <input type="password" name="contraseña" id="contraseña" formControlName="mod_contra"
          [ngClass]="{'is-invalid':formulario_con.get('mod_contra').errors}" placeholder="Nueva contraseña">
        <small *ngIf="formulario_con.get('mod_contra').hasError('required')">Este campo no puede estar vacio</small>

        

      </div>
      
      <div>
        <label for="contraseña2">Ingrese nombre de usuario:</label>
        <input type="password" name="contraseña2" id="contraseña2" formControlName="mod_contra2"
          [ngClass]="{'is-invalid':formulario_con.get('mod_contra2').errors}" placeholder="Confirme contraseña">
        <small *ngIf="formulario_con.get('mod_contra2').hasError('required')">Este campo no puede estar vacio</small>

        

      </div>
      <button type="submit">Modificar Contraseña</button>
    </form>
  </ion-content>
</ion-content>